.oe_tag_color_0{background-color: white; color: #777777; box-shadow: inset 0 0 0 2px #777777;}
.oe_tag_color_1{background-color: #F06050; color: #FFFFFF;}
.oe_tag_color_2{background-color: #F4A460; color: #FFFFFF;}
.oe_tag_color_3{background-color: #F7CD1F; color: #FFFFFF;}
.oe_tag_color_4{background-color: #6CC1ED; color: #FFFFFF;}
.oe_tag_color_5{background-color: #814968; color: #FFFFFF;}
.oe_tag_color_6{background-color: #EB7E7F; color: #FFFFFF;}
.oe_tag_color_7{background-color: #2C8397; color: #FFFFFF;}
.oe_tag_color_8{background-color: #475577; color: #FFFFFF;}
.oe_tag_color_9{background-color: #D6145F; color: #FFFFFF;}
.oe_tag_color_10{background-color: #30C381; color: #FFFFFF;}
.oe_tag_color_11{background-color: #9365B8; color: #FFFFFF;}
