<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <!-- Tree view for Module -->
    <record model="ir.ui.view" id="botc_module_tree_view">
        <field name="name">botc_module.tree</field>
        <field name="model">botc.module</field>
        <field name="arch" type="xml">
            <tree string="Module Tree">
                <field name="name"/>
                <field name="description"/>
                <field name="product_template_id" />
                <field name="odoo_module_name"/>
                <field name="active"/>
                <field name="standard"/>
            </tree>
        </field>
    </record>

    <!-- Form view for Module -->
    <record model="ir.ui.view" id="botc_module_form_view">
        <field name="name">botc_module.form</field>
        <field name="model">botc.module</field>
        <field name="arch" type="xml">
            <form string="Module Form">
                <sheet>
                    <h1>
                        <group>
                            <field name="name"/>
                        </group>
                    </h1>
                    <group>
                        <field name="description"/>
                        <field name="odoo_module_name"/>
                    </group>

                    <separator/>
                    <group>
                        <field name="standard"/>
                        <field name="active"/>
                        <field name="image" widget="image"/>
                    </group>
                    <group>
                        <field name="package_file_location"/>
                        <field name="product_template_id" />
                    </group>
                    <separator/>

                    <field name="module_ids"/>
                </sheet>

            </form>
        </field>
    </record>

    <!-- Action for Module -->
    <record model="ir.actions.act_window" id="botc_module_list_action">
        <field name="name">Modules</field>
        <field name="res_model">botc.module</field>
        <field name="view_type">form</field>
        <field name="view_mode">tree,form</field>
        <field name="help" type="html">
            <p class="oe_view_nocontent_create">Create Modules
            </p>
        </field>
    </record>

    <menuitem id="modules_menu" name="Modules" parent="configuration_template_configurator_menu"
                  action="botc_module_list_action" sequence="4"/>
</odoo>
